
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.banner{
    min-height: 90vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 146, 63, 0.7), rgba(0, 146, 63, 0.7)), url(./images/home.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav h5{
    font-size: 30px;
    color: #fff;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li .a{
    color: #C4C4C4;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
}
.nav-links ul li a:hover{
    color: #00923f;
    margin: auto;
    transition: 0.6s;
}

.nav-links ul li:hover::after{
    width: 100%;
}
.btn{
    display: inline-block;
    border: 1px solid #00923f;
    padding: 12px 35px;
    position: relative;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
    color: #00923f;
}
.text{
    width: 80%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: left;
    transform: translate(-50%, -50%);
}
.text h1{
    font-size: 60px;
}
.text p{
    font-size: 30px;
    line-height: 130%;
}
.b-btn{
    display: inline-block;
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    padding: 12px 35px;
    position: relative;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
}
.b-btn:hover{
    border: 1px solid #00923f;
    background: #fff;
    transition: 0.9s;
    color: #00923f;
}
nav .fa{
    display: none;
}

.col50{
    width: 70%;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}
h1{
    font-size: 35px;
    font-weight: 600;
}
p{
    font-size: 15px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.col50-col{
    flex-basis: 45%;
    margin-bottom: 5%;
}
.col50-col p{
    padding: 0;
}

.real{
    background: #f5fff9;
}
.real-section{
    width: 70%;
    margin: auto;
    padding: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
}
.real-section p{
    padding: 0;
}

.enjoy-section{
    width: 70%;
    margin: auto;
    padding: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
}
.enjoy-section p{
    padding: 0;
}

.why{
    background: #f5fff9;
    width: 80%;
    margin: auto;
    padding: 10%;
}
.why h1{
    text-align: center;
}
.why-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.why-box{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    padding: 30px;
}
.why-row{
    width: 500px;
    height: 144px;
    left: 13.15px;
    top: 0px;
    box-shadow: 2px 2px 4px 1px rgba(9, 54, 28, 0.08);
    border-radius: 7px;
    display: flex;
    gap: 24px;
    padding-left: 24px;
    align-items: center;
}
.why-row p{
    padding: 0;
}
.why-row div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.why-row img{
    width: 60px;
    height: 60px;
}

.grid{
    background: #f5fff9;
}
.grid-section{
    width: 80%;
    margin: auto;
    display: flex;
    gap: 100px;
    padding-bottom: 100px;
}
.grid-section img{
    width: 520px;
}
.grid-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.curve {
    background: #fff500;
    width: 50%;
    height: 50px;
    float: left;
    border-radius: 54.5122px 0px 0px 54.5122px;
    box-shadow: 0px 14.5366px 29.0732px rgba(0, 0, 0, 0.17);
}
.plain {
    height: 50px;
    background: transparent;
    overflow: hidden;
} 
.span h2 {
    display: block;
    position: absolute;
    font-size: 35px;
    font-weight: bolder;
    height: 43px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    color: #00923f;
    text-align: center;
    line-height: 50px;
}
#container {
    margin: 0 auto;
    width: 230px;
    height: 50px;
    position: relative;
}
.line{
    width: 103.73px;
    height: 4.29px;
    background: #FFF500;
}

#our-services{
    width: 80%;
    margin: auto;
}
.our-services{
    padding-top: 100px;
    padding-bottom: 100px;
}
.service-grid{
    display: flex;
    flex-direction: row;
    
    justify-content: center;
    gap: 100px;
}
.service-grid-box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: auto;
    width: 294.64px;
    height: 369px;
    background: #00923f;
    border-radius: 21.0456px;
}
.service-grid-box img{
    padding-left: 13px;
}

.footer{
    width: 80%;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 100px;
    color: #fff;
}
.footer-grid{
    display: flex;
    justify-content: space-between;
    margin: auto;
    gap: 35px;
}
.footer-grid p{
    padding: 0;
}
.social{
    display: flex;
    gap: 20px;
  }
.footer-frame div{
    display: flex;
    flex-direction: row; 
    gap: 20px;
    justify-content: flex-start;
    padding: 0;
}


/* ABOUT PAGE */
.what-we-do{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}
.what-flex{
    display: flex;
    justify-content: center;
    gap: 100px;
    
    line-height: 48px;
    text-align: justify;
    color: #fff;
}
.what-flex p{
    font-size: 20px
}

.who-are-we {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.who-are-we p {
    font-weight: 400;
    font-size: 20px;
    line-height: 48px;
    text-align: center;
    color: #000;
}

.commitment {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.commitment p {
    font-size: 20px;
    line-height: 48px;
    text-align: center;
    color: #000;
}
.card-slider{
    padding: 50px 0;
}
.frame-box{
    width: 200px;
    height: 300px;
    border-radius: 10px;
    border: 1px solid #00923f;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.frame-box img{
    height: 200px;
    width: 200px;
    border-radius: 10px;
    
}
.img-box img{
    max-width: 100%;
}
.slider-container .container{
    padding: 0 15px;
    max-width: 1230px;
    margin: 0 auto;
}



@media(max-width: 750px){
    .text h1{
        font-size: 30px;
    }
    .nav-links{
        position: absolute;
        background: #fff;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 0.9;
    }
    .nav-links ul li .btn{
        color: #C4C4C4;
        padding: 0;
        border: 0;
    }    
    .nav-links ul li{
        display: block;
    }
    nav .fa{
        display: block;
        color: #00923f;
        cursor: pointer;
        margin: 10px;
    }
    .nav-links ul{
        padding: 20px;
    }
    .row{
        flex-direction: column;
    }
    .nav-links ul li a{
        color: #fff;
    }
    .banner{
        background-image: linear-gradient(76.98deg, rgba(0, 146, 63, 0.7) 43.91%, rgba(255, 245, 0, 0.7) 88.23%), url(./images/home.png);
    }
    .real-section{
        display: flex;
        flex-direction: column-reverse;
    }
    .enjoy-section{
        display: flex;
        flex-direction: column;
    }
    .enjoy-section img{
        width: 300px;
        height: 300px;
    }
    .real-section{
        display: flex;
        flex-direction: column-reverse;
    }
    .real-section img{
        width: 300px;
        height: 500px;
    }
    .why-box{
        display: flex;
        flex-direction: column;
    }
    .why-row{
        width: 100%;
    }

    .why h1, .enjoy-section h1, .real h1, .span h2{
        font-size: 25px;
    }
    .why-row div h2{
        font-size: large;
    }
    .grid-section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .grid-section img{
        width: fit-content;
    }
    .service-grid{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer-grid{
        display: flex;
        flex-direction: column;
    }
    .what-flex{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .what-flex img{
        width: 100%;
    }
    .who-are-we p{
        text-align: left;
        font-size: 15px;
        line-height: 30px
    }
    .commitment p{
        font-size: 15px;
        line-height: 20px
    }
    .album{
        scroll-snap-type: X mandatory;
    }
    h1{
        font-size: 30px;
    }
    .what-flex{
        display: flex;
        justify-content: center;
        gap: 50px;
        line-height: 20px;
        text-align: start;
        color: #fff;
    }
    .what-flex p{
        font-size: small;
    }
}